// Form fields as well as other fields style
.qa-input-field {
  $c: &;         // Set the parent as a variable
  padding-left: 2.5em !important;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #FCE4EE !important;
  box-shadow: none !important;
  border: 1px solid #C18497 !important;
  border-radius: 3px;

  @at-root #variable_product_options_inner {
    & .form-field {
      #{$c} {
        background-size: auto 100%;
        padding-left: 3.2em !important;
      }
    }
  }

  &:read-only {
    background-color: #e7e7e7 !important;
    &:focus {
      outline: none;
      box-shadow: none !important
    }
  }
  &:focus {
    border-color: #C18497 !important;
    box-shadow: 0 0 2px #C18497 !important;
  }
}

// Turning Checkbox to Toggle Switch
div.qa-toggle-switch {
  padding: 10px 0;
}

input.qa-checkbox {
  &:empty {
    margin-left: -999px;

    ~ div.qa-toggle-switch {
      position: relative;
      float: left;
      line-height: 1.6em;
      text-indent: 4em;
      margin: 0.2em 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:before {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: ' ';
        width: 3.6em;
        background-color: gray;
        border-radius: 0.3em;
        box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
        -webkit-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
      }

      &:after {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: ' ';
        width: 3.6em;
        background-color: gray;
        border-radius: 0.3em;
        box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
        -webkit-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        width: 1.4em;
        top: 0.1em;
        bottom: 0.1em;
        margin-left: 0.1em;
        background-color: #fff;
        border-radius: 0.15em;
        box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  &:checked ~ div.qa-toggle-switch {
    &:before {
      background-color: #FF7BAC;
    }

    &:after {
      margin-left: 2.1em;
    }
  }
}
